@use '../../styles/partials/colorsfonts' as *;

.home {
  background: url("http://localhost:8080/images/pexels-victor-freitas-703016.jpg") rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  justify-content: flex-start;
  padding-top: 20px;

  h1{
    font-family: $home-header;
    font-weight: 400;
    font-size: 60px;
  }
  

  @include desktoptablet{
    justify-content: center;
    padding-top: 0;
  }

  &_content {
    width: 80%;
    //background-color: #FFFFFF80;
    color: $white;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktoptablet{
        width: 55%;
    }
    

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include desktoptablet {
        justify-content: space-between;
      }
    }

  }

  &_buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;

      @include desktoptablet{
        //min-width: 40%;
      }

  }
}