@use './styles/partials/colorsfonts' as *;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  background-color: $darkblue;
  color: $white;
  height: 80px;

  &_nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0;

    a {
      padding: 0 16px;
      color: $white;
      text-decoration: none;
    }
  }

  &_logo {
    max-width: 75px;
    max-height: 75px;
  }
}

h1 {
  margin: 0;
  padding-bottom: 16px
}

p {
  margin: 0;
  padding-bottom: 16px
}

.app {
  text-align: center;
  //padding: 0 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
