@use '../../styles/partials/colorsfonts' as *;

.myprofile {
    background-color: $white;
    height: 100vh;
    padding-top: 16px;

    &_workout {
        padding: 10px;
        background-color: $lightgrey;

        &-container {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            @include desktoptablet{
            flex-direction: row;
            width: 100%;
            }
        }
    }

    //possibly remove
    &_exercise {
        padding: 10px 0;
    }
}