@use '../../styles/partials/colorsfonts' as *;

.myprofile {
    background-color: $white;
    height: 100vh;
    padding-top: 16px;

    &_workout {
        padding: 10px;
        background-color: $lightgrey;

        &-container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}