$darkblue: #284B63;
$lightgrey: #D9D9D9;
$darkgrey: #353535;
$teal: #3C6E71;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');


$home-header: 'Permanent Marker', cursive;
$body-font: 'Rubik', sans-serif;
// h1 {
//     font-family: $home-header;
//     font-weight: 400;
// }

$desktoptablet-breakpoint: 768px;

@mixin desktoptablet {
    @media (min-width: $desktoptablet-breakpoint) {
        @content;
    }
}

